@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1000 Johnnie Dodds Blvd.<br />
    Suite 103-122
    Mt. Pleasant, SC 29464<br />
    <abbr title="Phone">P:</abbr>
    910.297.4810
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@pay-this.co">Support@pay-this.co</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@pay-this.co">Marketing@pay-this.co</a>
</address>